* {
  margin: 0;
  font-family: "Science Gothic", sans-serif;
}

body {
  text-align: center;
}
a {
  text-decoration: none;
  color: grey;
  transition: 0.5s;
}
a:hover {
  color: cyan;
}
#Cambiopag {
  font-size: 20px;
}
header {
  background-image: url("imagenes/Barra-background.png");
  background-size: 185%;
  font-size: 20px;
  border-radius: 10px;
}
video {
  border-radius: 20px;
}

main h1 {
  color: orangered;
}
main h2 {
  color: orangered;
}
main p {
  font-size: 20px;
  color: orange;
  margin: 2px;
}
#twittercuenta {
  border-radius: 20px;
  transition: 0.5s;
  width: 50%;
  height: 50%;
}
#logovictory:hover {
  transform: scale(1.1);
}
#logovictory {
  width: 50%;
  height: 50%;

  transition: 0.5s;
}
#Arquetipos {
  width: 35%;
  height: 35%;
  border-radius: 20px;
  transition: 0.5s;
}
#Arquetipos:hover {
  transform: scale(1.1);
}
#pasivaimg {
  width: 35%;
  height: 35%;
  border-radius: 20px;
  transition: 0.5s;
}
#pasivaimg:hover {
  transform: scale(1.1);
}
#TablaPasivas {
  width: 20%;
  height: 20%;
  border-radius: 20px;
  transition: 0.5s;
}
#TablaPasivas:hover {
  transform: scale(1.05);
}
#twittercuenta:hover {
  transform: scale(1.1);
}
#barras {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#barras:hover {
  transform: scale(1.1);
}
#falta1 {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#falta1:hover {
  transform: scale(1.1);
}
#falta2 {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#falta2:hover {
  transform: scale(1.1);
}
#portero1 {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#portero1:hover {
  transform: scale(1.1);
}
#portero2 {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#portero2:hover {
  transform: scale(1.1);
}
#Supertactica {
  width: 30%;
  height: 30%;
  transition: 0.5s;
  border-radius: 20px;
}
#Supertactica:hover {
  transform: scale(1.1);
}

main {
  text-align: center;
  width: 65%;
  margin: auto;
  background-image: url("imagenes/main_background.png");
  background-size: 100%;
  border-radius: 10px;
}

body {
  margin: auto;
  background-image: url("imagenes/background.png");
  background-attachment: fixed;
  background-size: 102%;
}













/* Dispositivos móviles */

















@media (max-width: 768px) {
  * {
    margin: 0;
    font-family: "Science Gothic", sans-serif;
  }

  body {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: grey;
    transition: 0.5s;
  }
  a:hover {
    color: cyan;
  }
  #Cambiopag {
    font-size: 10px;
  }
  header {
    background-image: url("imagenes/Barra-background.png");
    background-size: 100%;
    font-size: 10px;
    border-radius: 2px;
  }
  video {
    border-radius: 2px;
  }

  main h1 {
    color: orangered;
  }
  main h2 {
    color: orangered;
  }
  main p {
    font-size: 10px;
    color: orange;
    margin: 2px;
  }
   main a {
    font-size: 10px;
  }
  #twittercuenta {
    border-radius: 2px;
    transition: 0.5s;
    width: 80%;
    height: 80%;
  }
  #logovictory:hover {
    transform: scale(1.1);
  }
  #logovictory {
    width: 80%;
    height: 80%;

    transition: 0.5s;
  }
  #Arquetipos {
    width: 70%;
    height: 70%;
    border-radius: 2px;
    transition: 0.5s;
  }
  #Arquetipos:hover {
    transform: scale(1.1);
  }
  #pasivaimg {
    width: 70%;
    height: 70%;
    border-radius: 2px;
    transition: 0.5s;
  }
  #pasivaimg:hover {
    transform: scale(1.1);
  }
  #TablaPasivas {
    width: 50%;
    height: 50%;
    border-radius: 2px;
    transition: 0.5s;
  }
  #TablaPasivas:hover {
    transform: scale(1.05);
  }
  #twittercuenta:hover {
    transform: scale(1.1);
  }
  #barras {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #barras:hover {
    transform: scale(1.1);
  }
  #falta1 {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #falta1:hover {
    transform: scale(1.1);
  }
  #falta2 {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #falta2:hover {
    transform: scale(1.1);
  }
  #portero1 {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #portero1:hover {
    transform: scale(1.1);
  }
  #portero2 {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #portero2:hover {
    transform: scale(1.1);
  }
  #Supertactica {
    width: 70%;
    height: 70%;
    transition: 0.5s;
    border-radius: 2px;
  }
  #Supertactica:hover {
    transform: scale(1.1);
  }

  main {
    text-align: center;
    width: 100%;
    margin: auto;
    background-image: url("imagenes/main_background.png");
    background-size: 100%;
    border-radius: 2px;
  }

  body {
    margin: auto;
    background-image: url("imagenes/background.png");
    background-attachment: fixed;
    background-size: 102%;
  }
}
